.gallery {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery li {
    flex: 0 0 30%;
    list-style: none outside;
    display: flex;
    margin-bottom: 5%;
    position: relative;
    animation: fadeIn 0.6s ease-in;
}

.gallery li:nth-child(2) {
    animation-delay: 0.2s
}

.gallery li:nth-child(3) {
    animation-delay: 0.4s
}
.gallery li:nth-child(4) {
    animation-delay: 0.6s
}
.gallery li:nth-child(5) {
    animation-delay: 0.8s
}
.gallery li:nth-child(6) {
    animation-delay: 1s
}
.gallery li:nth-child(7) {
    animation-delay: 1.2s
}
.gallery li:nth-child(8) {
    animation-delay: 1.4s
}

.gallery li::before{
    display: block;
    content: '';
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.gallery li:hover:before{
    opacity: 1;
}

.gallery a {
    width: 100%;
    display: flex;
    align-items: center;
    border: 0.5em solid black;
    justify-content: center;
    padding: 0.5em;
}

.gallery span {
    display: block;
    position: relative;
}

.gallery span::before{
    display: block;
    content: '';
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.3s ease-in;
}

.gallery span::after{
    display: block;
    content: '';
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    box-shadow: 0  0 2em 0 rgba(0, 0, 0, 0.5) inset; 
}

.gallery a:hover span:before {
    opacity: 0;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}